.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 375px;
    height: 68px;
    background: #fff;
}

.logo {
    display: flex;
    align-items: center;
    width: 182px;
    gap: 16px;
}

.burgerIcon {
    width: 32px;
    height: 22px;
    stroke: #121417;
}

.logoName {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
}
.burger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.modalBackdrop {
    position: absolute;
    top: 0px;
    right: 0;
    width: 185px;
    height: 812px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #85AA9F;
}

.modalContent{
    display: flex;
    flex-direction: column;
    gap: 166px;
    padding: 16px;
}

.headerUserBar{
    display: flex;
    align-items: center;
    gap: 38px;
}

.closeBtn {
    font-size: 32px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.headerImg {
    height: 318px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

   
}